.header__padding {
  padding: 10px 0;
}

.nav__navigatione {
  display: flex;

  & a {
    color: black;
    text-decoration: none;
    margin-left: 32px;
  }
  & a li {
    list-style-type: none;
  }
  & a li:first-child {
    margin-left: 0;
  }
}

.navbar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-icon::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  height: 25px;
  width: 1px;
  background: #d7d7d7;
  transform: translateY(-50%);
  border-radius: 50%;
}
