---
layout: base.njk
pageTitle: Supky
---

<body>
  <header>
    <div class="header__padding">
      <div class="container">
        <div class="main_menu">
          <nav class="navbar__header">
            <a href="#">
              <a href="#">
                <img src="../public/img/Logo_1.png" alt="" />
              </a>
            </a>
            <div class="nav__links">
              <ul class="nav_navigatione">
                <li>Home</li>
                <li>Supplement</li>
                <li>Order</li>
                <li>Price</li>
                <li>Ingredient</li>
                <li>Blog</li>
                <li>Contact</li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
</body>
